---
layout: default
---

<h3 class="all-films">All Films / List</h3>
<p class="toggle-buttons">
  <i class="button selected fas fa-list"></i>
  <a href="/films-posters">
    <i class="button fas fa-th"></i>
  </a>
</p>

<hr />

<!-- Mobile List -->
<table class="table table-striped mobile-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
    </tr>
  </thead>

  {% for film in site.films %}
    <tr>
      <td><a href="/{{film.permalink}}">{{film.title}}</a></td>
      <td>{{film.released | date: '%Y'}}</td>
    </tr>
  {% endfor %}
</table>

<!-- Desktop List -->
<table class="table table-striped desktop-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th>Added</th>
      <th class="text-center">Audio</th>
      <th class="text-center">Info</th>
    </tr>
  </thead>

  {% for film in site.films %}
    <tr>
      <td><a href="/{{film.permalink}}">{{film.title}}</a></td>
      <td>{{film.released | date: '%-d %b %Y'}}</td>
      <td>{{film.added | date: '%-d %b %Y'}}</td>
      <td class="text-center">
        <a href="{{site.assets}}/audios/{{film.permalink}}.mp3">mp3</a>
      </td>
      <td class="text-center">
        <a href="https://www.themoviedb.org/movie/{{film.tmdb-id}}" target="_blank">
          tmdb
        </a>
      </td>
    </tr>
  {% endfor %}
</table>

<h4 class="text-center">New titles are added weekly! Please <a href="mailto:request@audiofilms.net?subject=I've got an idea for an AudioFilm">send us a request</a> if you don't see your favorite movie listed.</h4>
