---
layout: default
---

{% include header.html %}

<div class="row">
  <div class="flex-container">
    {% assign sorted_films = site.films | sort: "added" | reverse %}
    {% for film in sorted_films limit: 15 %}
      <a href="{{film.id}}">
        <img class="flex-movie" src="{{site.assets}}/images/{{film.slug}}.jpg">
      </a>
    {% endfor %}
  </div>
</div>

<h4 class="text-center">These are the newest additions to the catalog. Check out <a href="/films">the films list</a> to see everything we've got at the moment.</h4>
