---
layout: default
---

<!--
<div class="mobile-warning">
  <h2>ATTENTION!!</h2>
  <p>If you turn your phone sideways, you'll see more info in the form below.</p>
</div>
-->

<!-- Mobile List -->
<table class="table table-striped mobile-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th class="center">Audio</th>
    </tr>
  </thead>

  {% for film in site.films %}
    <tr>
      <td><a href="/{{film.permalink}}">{{film.title}}</a></td>
      <td>{{film.released | date: '%Y'}}</td>
      <td class="center">
        <a href="{{site.assets}}/audio/{{film.permalink}}.mp3">mp3</a>
      </td>
    </tr>
  {% endfor %}
</table>

<!-- Desktop List -->
<table class="table table-striped desktop-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th>Added</th>
      <th class="center">Audio</th>
    </tr>
  </thead>

  {% for film in site.films %}
    <tr>
      <td><a href="/{{film.permalink}}">{{film.title}}</a></td>
      <td>{{film.released | date: '%-d %b %Y'}}</td>
      <td>{{film.added | date: '%-d %b %Y'}}</td>
      <td class="center">
        <a href="{{site.assets}}/audio/{{film.permalink}}.mp3">mp3</a>
      </td>
    </tr>
  {% endfor %}
</table>
