<div id="home">
  <div id="banner">
    <div class="row">
      <h1>AudioFilms</h1>
      <p class="lead"><em>Listen</em> to your favorite movies anytime, anywhere</p>
    </div>
  </div>

  <div class="row">
    <% @audiofilms.each.with_index(1) do |audiofilm, index| %>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
        <%= link_to slug_path(audiofilm.slug) do %>
          <img class="img-responsive <%= "hide-on-small" if index > 8 %> <%= "hide-on-mobile" if index > 6 %>" src="http://audiofilms.s3.amazonaws.com/images/<%= audiofilm.slug %>.jpg">
        <% end %>
      </div>
    <% end %>
  </div>

  <h3 class="text-center">Where we're going,<br/>we don't need eyes to see.</h3>
</div>
