---
layout: default
---

<div id="film">
  <div class="row">
    <div class="col-sm-8">
      <h1>{{page.title}}</h1>
      <h3>{{page.released | date: '%-d %B %Y'}}</h3>
      <p>{{page.description}}</p>
      <audio src="{{site.assets}}/audios/{{page.permalink}}.mp3" controls preload></audio>
    </div>
    <div class="col-sm-4">
      <img class="img-responsive" src="{{site.assets}}/images/{{page.permalink}}.jpg">
      <p class="film-links">
        <a href="{{site.assets}}/audios/{{page.permalink}}.mp3" target="_blank">
          MP3 link
        </a>
        •
        <a href="https://www.themoviedb.org/movie/{{page.tmdb-id}}" target="_blank">
          TMDB
        </a>
      </p>
    </div>
  </div>
</div>
